{% extends "Alphabo_app/base.html" %} 
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <script src="{% static 'Alphabo_app/libs/jquery.js' %}"></script>
  <link rel="stylesheet" type="text/css"
        href="{% static 'Alphabo_app/css/profile.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">
  </script> 

{% endblock %}

{% block mainbar %}


  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Alphabo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'game' %}">Game Start</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li>
		    {% if current_user %}
		       <input type="hidden" id="user" name="userVariable" value="{{ current_user }}">
			<a class="user-logout" href="{% url 'logout'%}">Logout</a>
		    {% else %}
		      <a class="facebook-logout" href="#">Logout </a>
		    {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 
<div class="row">

      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

           <a href="{% url 'index' %}" >main page</A>

      </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

   

   

          <div class="panel">

            <div class="panel-heading">

              <h3 class="panel-title">Hyung Chul Park</h3>

            </div>

            <div class="panel-body">

              <div class="row">

                <div class=" col-md-9 col-lg-9 "> 

                  <table class="table table-user-information">

                    <tbody>

                      <tr>

                        <td>Department:</td>

                        <td>Programming</td>

                      </tr>

                      <tr>

                        <td>Date of Birth</td>

                        <td>05/16/1994</td>

                      </tr>

                        <td>Gender</td>

                        <td>Male</td>

                      </tr>

                      <tr>

                        <td>Email</td>

                        <td><a href="mailto:xlazks01@gmail.com.com">xlazks01@gmail.com</a></td>

                      </tr>

                        <td>Phone Number</td>

                        <td>010-6416-2623(Mobile)

                        </td>

                      </tr>

                     

                    </tbody>

                  </table>

                  
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

{% endblock %}

